* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Megrim', 'sans-serif', cursive;
    font-weight: 750;
}

.container {
    padding: 20px 70px;
    color: white;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.date-container, .place-container .time-zone {
    font-weight: 300;
}

.date-container .time, .place-container .country {
    font-size: 70px;
}

.date-container #am-pm, .date-container .date, .place-container .time-zone {
    font-size: 30px;
}

.date-container #am-pm {
    margin-left: 20px;
}

.place-container {
    text-align: end;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, .6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.future-forecast {
    background: rgba(24, 24, 27, .6);
    position: fixed;
    bottom: 0;
    padding: 25px;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 10px;
    padding: 5px;
    
}

.future-forecast .today .day, .weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 20px;
    padding-top: 15px;

}

.future-forecast .weather-forecast {
    display: flex;

}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
}



